<div id="<%= dom_id question %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= question.text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Qtype:</strong>
    <%= question.qtype %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Options:</strong>
    <%= question.options %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Correct answer:</strong>
    <%= question.correct_answer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Explanation:</strong>
    <%= question.explanation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Topic:</strong>
    <%= question.topic_id %>
  </div>
</div>
